Ostras_Ticket Validation.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ostras-v1-webhook",
        "options": {}
      },
      "id": "af784e7b-30f9-41f7-be28-622628ec16ae",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1568,
        320
      ],
      "webhookId": "ostras-v1-webhook"
    },
    {
      "parameters": {
        "jsCode": "const record = $('Webhook Trigger').first().json.body.record;\nconst submissionType = record.submission_type;\nconst receiptUrl = record.receipt_url;\nconst barcodeUrl = record.barcode_url;\nconst expiryUrl = record.expiry_url;\n\nconst hasReceipt = !!(receiptUrl && receiptUrl !== '' && receiptUrl !== null);\nconst hasBarcode = !!(barcodeUrl && barcodeUrl !== '' && barcodeUrl !== null);\nconst hasExpiry = !!(expiryUrl && expiryUrl !== '' && expiryUrl !== null);\n\nconst MESSAGES = {\n  MISSING_RECEIPT: 'Hola 👋, necesitamos ver el ticket completo y fecha de compra. ¡Gracias!',\n  BARCODE_ONLY: 'Hola 👋, solo subiste el código de barras, no el ticket completo. ¡Inténtalo de nuevo!',\n  NO_RECEIPT_ONLY_PRODUCTS: 'Hola 👋, vemos los productos, pero necesitamos también el ticket de compra para validar el rescate. Sin ticket no podemos otorgar los puntos. ¡Gracias!',\n  MISSING_BARCODE: 'Hola 👋, la fecha de caducidad y código de barras deben ser bien visibles. ¡Gracias!',\n  MISSING_EXPIRY: 'Hola 👋, además del código de barras, necesitamos foto clara de la fecha de caducidad corta. ¡Gracias!'\n};\n\nif (submissionType === 1) {\n  if (!hasReceipt) {\n    return [{ json: { imagesValid: false, reason: 'MISSING_RECEIPT', rejection_message: MESSAGES.MISSING_RECEIPT, processing_stage: 'missing_images' } }];\n  }\n}\n\nif (submissionType === 2) {\n  if (!hasReceipt && hasBarcode && !hasExpiry) {\n    return [{ json: { imagesValid: false, reason: 'BARCODE_ONLY', rejection_message: MESSAGES.BARCODE_ONLY, processing_stage: 'missing_images' } }];\n  }\n  if (!hasReceipt && (hasBarcode || hasExpiry)) {\n    return [{ json: { imagesValid: false, reason: 'NO_RECEIPT_ONLY_PRODUCTS', rejection_message: MESSAGES.NO_RECEIPT_ONLY_PRODUCTS, processing_stage: 'missing_images' } }];\n  }\n  if (!hasReceipt) {\n    return [{ json: { imagesValid: false, reason: 'MISSING_RECEIPT', rejection_message: MESSAGES.MISSING_RECEIPT, processing_stage: 'missing_images' } }];\n  }\n  if (!hasBarcode) {\n    return [{ json: { imagesValid: false, reason: 'MISSING_BARCODE', rejection_message: MESSAGES.MISSING_BARCODE, processing_stage: 'missing_images' } }];\n  }\n  if (!hasExpiry) {\n    return [{ json: { imagesValid: false, reason: 'MISSING_EXPIRY', rejection_message: MESSAGES.MISSING_EXPIRY, processing_stage: 'missing_images' } }];\n  }\n}\n\nreturn [{ json: { imagesValid: true, submissionType } }];"
      },
      "id": "7aebc8d2-e780-4f3c-9e7d-64ea2766230b",
      "name": "Check Required Images",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-002",
              "leftValue": "={{ $json.imagesValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "43ddb46b-e554-4e90-97f2-3fe526cd64f5",
      "name": "Images Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1120,
        272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=YOUR_GEMINI_API_KEY",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"contents\":[{\"parts\":[{\"text\":\"Extract ALL data from this supermarket receipt. Reply ONLY as JSON, no markdown, no backticks, no extra text. Date format MUST be YYYY-MM-DD. Time format MUST be HH:MM:SS. If time is not visible use 00:00:00. If any field is not visible use null.\\n\\nRequired format:\\n{\\\"receipt_date\\\":\\\"YYYY-MM-DD\\\",\\\"receipt_time\\\":\\\"HH:MM:SS\\\",\\\"store_name\\\":\\\"string\\\",\\\"store_location\\\":\\\"string\\\",\\\"store_country\\\":\\\"string\\\",\\\"receipt_number\\\":\\\"string\\\",\\\"total_amount\\\":0.00,\\\"currency\\\":\\\"string\\\",\\\"line_items\\\":[{\\\"name\\\":\\\"string\\\",\\\"quantity\\\":1,\\\"price\\\":0.00}],\\\"confidence\\\":95}\"},{\"file_data\":{\"mime_type\":\"image/jpeg\",\"file_uri\":\"{{ $('Webhook Trigger').first().json.body.record.receipt_url }}\"}}]}]}",
        "options": {}
      },
      "id": "8eedba64-88b7-4f77-aca7-1662d081ca91",
      "name": "Gemini Receipt Extraction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -928,
        144
      ],
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nif (item.error) {\n  return [{ json: {\n    extractionError: true,\n    reason: 'RECEIPT_READ_ERROR',\n    rejection_message: 'Hola 👋, no pudimos leer tu ticket. Por favor sube una foto más clara. ¡Gracias!',\n    processing_stage: 'gemini_extraction_error'\n  }}];\n}\n\nlet raw;\ntry {\n  raw = item.candidates[0].content.parts[0].text;\n} catch(e) {\n  return [{ json: {\n    extractionError: true,\n    reason: 'RECEIPT_READ_ERROR',\n    rejection_message: 'Hola 👋, no pudimos leer tu ticket. Por favor sube una foto más clara. ¡Gracias!',\n    processing_stage: 'gemini_extraction_error'\n  }}];\n}\n\nconst cleaned = raw.replace(/```json|```/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  return [{ json: {\n    extractionError: true,\n    reason: 'RECEIPT_READ_ERROR',\n    rejection_message: 'Hola 👋, no pudimos leer tu ticket. Por favor sube una foto más clara. ¡Gracias!',\n    processing_stage: 'gemini_extraction_error'\n  }}];\n}\n\nlet receiptDate = parsed.receipt_date || '';\nif (receiptDate.includes('/')) {\n  const parts = receiptDate.split('/');\n  if (parts.length === 3 && parts[0].length === 2) {\n    receiptDate = `${parts[2]}-${parts[1]}-${parts[0]}`;\n  }\n}\n\nconst receiptTime = parsed.receipt_time || '00:00:00';\n\nlet receiptDatetimeUTC = null;\ntry {\n  const localDt = new Date(`${receiptDate}T${receiptTime}`);\n  if (!isNaN(localDt.getTime())) {\n    receiptDatetimeUTC = new Date(localDt.getTime() - (2 * 60 * 60 * 1000)).toISOString();\n  }\n} catch(e) {}\n\nreturn [{ json: {\n  extractionError: false,\n  receipt_date: receiptDate,\n  receipt_time: receiptTime,\n  receipt_datetime_utc: receiptDatetimeUTC,\n  store_name: parsed.store_name || null,\n  store_location: parsed.store_location || null,\n  store_country: parsed.store_country || null,\n  receipt_number: parsed.receipt_number || null,\n  total_amount: parsed.total_amount || null,\n  currency: parsed.currency || null,\n  line_items: parsed.line_items || [],\n  confidence: parsed.confidence || 0\n}}];"
      },
      "id": "9e5195d3-2eb9-4634-9e81-ab55ded19224",
      "name": "Normalize And Parse Receipt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        240
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-003",
              "leftValue": "={{ $json.extractionError }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2afe1c10-fcf6-4afb-a22c-03576ba13450",
      "name": "Extraction Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -464,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-004",
              "leftValue": "={{ $json.confidence }}",
              "rightValue": 74,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "46ae474d-7468-4fb3-b4e8-8a4d1068dd30",
      "name": "Confidence OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -240,
        160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "reason",
              "value": "LOW_CONFIDENCE",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "rejection_message",
              "value": "Hola 👋, el recibo está borroso. ¿Podrías enviar una imagen más clara? ¡Gracias!",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "processing_stage",
              "value": "low_confidence",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "4a3f5498-a589-4f81-9c15-1f0998c3deef",
      "name": "Reject - Low Confidence",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-005",
              "leftValue": "={{ $('Webhook Trigger').first().json.body.record.submission_type }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ec2156d4-91a6-48bb-823d-09d35b7c7cff",
      "name": "Is Flow 2?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -16,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "const ticket = $('Webhook Trigger').first().json.body.record;\nconst extracted = $('Normalize And Parse Receipt').first().json;\n\nconst MESSAGES = {\n  OUTSIDE_24H: 'Hola 👋, el ticket debe enviarse dentro de las 24h posteriores a la compra. ¡Gracias!',\n  FUTURE_DATE: 'Hola 👋, necesitamos ver el ticket completo y fecha de compra. ¡Gracias!',\n  INCOMPLETE_TICKET: 'Hola 👋, necesitamos ver el ticket completo y fecha de compra. ¡Gracias!',\n  INVALID_STORE: 'Hola 👋, solo aceptamos tickets de supermercados. ¡Gracias!'\n};\n\nconst invalidStores = [\n  'restaurant', 'restaurante', 'farmacia', 'pharmacy', 'gasolinera',\n  'gas station', 'bar ', 'cafe ', 'cafeteria', 'mcdonald', 'burger',\n  'pizz', 'kebab', 'panaderia', 'pasteleria', 'drogueria', 'brico',\n  'ferreteria', 'zara', 'primark', 'decathlon', 'ikea', 'leroy',\n  'fnac', 'mediamarkt', 'worten', 'optica', 'clinica', 'freshly',\n  'delivery', 'takeaway', 'bistro', 'tapas', 'cerveceria', 'heladeria',\n  'sushi', 'wok', 'thai', 'el corte ingles'\n];\n\nconst storeName = (extracted.store_name || '').toLowerCase();\n\nif (!storeName || storeName === 'null' || storeName === '') {\n  return [{ json: { approved: false, reason: 'INCOMPLETE_TICKET', rejection_message: MESSAGES.INCOMPLETE_TICKET, processing_stage: 'flow_1_logic' } }];\n}\n\nif (invalidStores.some(s => storeName.includes(s))) {\n  return [{ json: { approved: false, reason: 'INVALID_STORE', rejection_message: MESSAGES.INVALID_STORE, processing_stage: 'flow_1_logic' } }];\n}\n\nif (!extracted.receipt_date || extracted.receipt_date === 'null') {\n  return [{ json: { approved: false, reason: 'INCOMPLETE_TICKET', rejection_message: MESSAGES.INCOMPLETE_TICKET, processing_stage: 'flow_1_logic' } }];\n}\n\nif (!extracted.total_amount || extracted.total_amount === 0) {\n  return [{ json: { approved: false, reason: 'INCOMPLETE_TICKET', rejection_message: MESSAGES.INCOMPLETE_TICKET, processing_stage: 'flow_1_logic' } }];\n}\n\nif (!extracted.receipt_datetime_utc) {\n  return [{ json: { approved: false, reason: 'INCOMPLETE_TICKET', rejection_message: MESSAGES.INCOMPLETE_TICKET, processing_stage: 'flow_1_logic' } }];\n}\n\nconst submittedAt = new Date(ticket.submitted_at);\nconst receiptUTC = new Date(extracted.receipt_datetime_utc);\nconst diffHours = (submittedAt - receiptUTC) / 3600000;\n\nif (diffHours < -2) {\n  return [{ json: { approved: false, reason: 'FUTURE_DATE', rejection_message: MESSAGES.FUTURE_DATE, processing_stage: 'flow_1_logic' } }];\n}\n\nif (diffHours > 24) {\n  return [{ json: { approved: false, reason: 'OUTSIDE_24H', rejection_message: MESSAGES.OUTSIDE_24H, processing_stage: 'flow_1_logic' } }];\n}\n\nreturn [{ json: {\n  approved: true,\n  points_awarded: 2,\n  flow: 1,\n  store_name: extracted.store_name,\n  receipt_date: extracted.receipt_date,\n  hours_since_purchase: Math.round(diffHours * 10) / 10,\n  processing_stage: 'flow_1_approved'\n}}];"
      },
      "id": "99ce5545-0122-4b63-8f4f-287d6abde601",
      "name": "Flow 1 Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        144
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=YOUR_GEMINI_API_KEY",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"contents\":[{\"parts\":[{\"text\":\"Read the barcode in this image. Reply ONLY as JSON, no markdown, no backticks:\\n{\\\"barcode_gtin\\\":\\\"string or null\\\",\\\"barcode_confidence\\\":95,\\\"tampering_detected\\\":false}\"},{\"file_data\":{\"mime_type\":\"image/jpeg\",\"file_uri\":\"{{ $('Webhook Trigger').first().json.body.record.barcode_url }}\"}}]}]}",
        "options": {}
      },
      "id": "cabbbbf5-595c-45a9-a43b-b78aa24af53e",
      "name": "Extract Barcode",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        -32
      ],
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=YOUR_GEMINI_API_KEY",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"contents\":[{\"parts\":[{\"text\":\"Read the expiry date on this product. Date format MUST be YYYY-MM-DD. Reply ONLY as JSON, no markdown, no backticks:\\n{\\\"expiry_date\\\":\\\"YYYY-MM-DD or null\\\",\\\"expiry_confidence\\\":95,\\\"tampering_detected\\\":false}\"},{\"file_data\":{\"mime_type\":\"image/jpeg\",\"file_uri\":\"{{ $('Webhook Trigger').first().json.body.record.expiry_url }}\"}}]}]}",
        "options": {}
      },
      "id": "cfc47c3c-dced-44b7-9df1-2fa0968298fa",
      "name": "Extract Expiry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        -224
      ],
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "let barcodeData = { barcode_gtin: null, barcode_confidence: 0, tampering_detected: false };\nlet expiryData = { expiry_date: null, expiry_confidence: 0, tampering_detected: false };\n\ntry {\n  const bt = $('Extract Barcode').first().json.candidates[0].content.parts[0].text;\n  barcodeData = JSON.parse(bt.replace(/```json|```/g,'').trim());\n} catch(e) {}\n\ntry {\n  const et = $('Extract Expiry').first().json.candidates[0].content.parts[0].text;\n  expiryData = JSON.parse(et.replace(/```json|```/g,'').trim());\n} catch(e) {}\n\nlet expiryDate = expiryData.expiry_date || null;\nif (expiryDate && expiryDate.includes('/')) {\n  const parts = expiryDate.split('/');\n  if (parts.length === 3 && parts[0].length === 2) {\n    expiryDate = `${parts[2]}-${parts[1]}-${parts[0]}`;\n  }\n}\n\nreturn [{ json: {\n  barcode_gtin: barcodeData.barcode_gtin || null,\n  barcode_confidence: barcodeData.barcode_confidence || 0,\n  barcode_tampering: barcodeData.tampering_detected || false,\n  expiry_date: expiryDate,\n  expiry_confidence: expiryData.expiry_confidence || 0,\n  expiry_tampering: expiryData.tampering_detected || false\n}}];"
      },
      "id": "24d6015c-298f-4d78-803c-11b1888930ff",
      "name": "Merge Product Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -128
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://world.openfoodfacts.org/api/v0/product/{{ $json.barcode_gtin }}.json",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "24614fe8-2376-4fde-8835-78dba1755b6a",
      "name": "GTIN Lookup OpenFoodFacts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        752,
        -144
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://api.upcitemdb.com/prod/trial/lookup?upc={{ $('Merge Product Data').first().json.barcode_gtin }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "1b9a6e77-1707-4701-bf2b-c933dd369bfa",
      "name": "GTIN Lookup UPCItemDB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1008,
        -224
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const ticket = $('Webhook Trigger').first().json.body.record;\nconst extracted = $('Normalize And Parse Receipt').first().json;\nconst product = $('Merge Product Data').first().json;\n\nconst MESSAGES = {\n  OUTSIDE_24H: 'Hola 👋, el ticket debe enviarse dentro de las 24h posteriores a la compra. ¡Gracias!',\n  ALREADY_EXPIRED: 'Hola 👋, No Podemos Dar Puntos Por Productos Que Hayas Comprado Ya Caducados ¡Gracias!',\n  EXPIRY_OUT_OF_RANGE: 'Hola 👋, los puntos son solo para productos que caducan en menos de 5 días de la compra. ¡Gracias!',\n  PRODUCT_NOT_ON_RECEIPT: 'Hola 👋, hemos revisado tu ticket y no encontramos el producto indicado en él. Por ahora, no podemos validarlo. ¡Gracias igualmente por participar!',\n  INCOMPLETE_TICKET: 'Hola 👋, necesitamos ver el ticket completo y fecha de compra. ¡Gracias!',\n  INVALID_STORE: 'Hola 👋, solo aceptamos tickets de supermercados. ¡Gracias!'\n};\n\nconst invalidStores = [\n  'restaurant', 'restaurante', 'farmacia', 'pharmacy', 'gasolinera',\n  'bar ', 'cafe ', 'cafeteria', 'mcdonald', 'burger', 'pizz', 'kebab',\n  'panaderia', 'zara', 'primark', 'decathlon', 'ikea', 'el corte ingles'\n];\n\nconst storeName = (extracted.store_name || '').toLowerCase();\nif (!storeName || storeName === 'null') {\n  return [{ json: { approved: false, reason: 'INCOMPLETE_TICKET', rejection_message: MESSAGES.INCOMPLETE_TICKET, processing_stage: 'flow_2_logic' } }];\n}\nif (invalidStores.some(s => storeName.includes(s))) {\n  return [{ json: { approved: false, reason: 'INVALID_STORE', rejection_message: MESSAGES.INVALID_STORE, processing_stage: 'flow_2_logic' } }];\n}\n\nif (!extracted.receipt_datetime_utc) {\n  return [{ json: { approved: false, reason: 'INCOMPLETE_TICKET', rejection_message: MESSAGES.INCOMPLETE_TICKET, processing_stage: 'flow_2_logic' } }];\n}\n\nconst submittedAt = new Date(ticket.submitted_at);\nconst receiptUTC = new Date(extracted.receipt_datetime_utc);\nconst diffHours = (submittedAt - receiptUTC) / 3600000;\n\nif (diffHours > 24) {\n  return [{ json: { approved: false, reason: 'OUTSIDE_24H', rejection_message: MESSAGES.OUTSIDE_24H, processing_stage: 'flow_2_logic' } }];\n}\n\nif (!product.expiry_date) {\n  return [{ json: { approved: false, reason: 'MISSING_EXPIRY', rejection_message: 'Hola 👋, además del código de barras, necesitamos foto clara de la fecha de caducidad corta. ¡Gracias!', processing_stage: 'flow_2_logic' } }];\n}\n\nconst receiptDate = new Date(extracted.receipt_date + 'T00:00:00');\nconst expiryDate = new Date(product.expiry_date + 'T00:00:00');\nconst daysToExpiry = (expiryDate - receiptDate) / 86400000;\n\nif (daysToExpiry < 0) {\n  return [{ json: { approved: false, reason: 'ALREADY_EXPIRED', rejection_message: MESSAGES.ALREADY_EXPIRED, processing_stage: 'flow_2_logic' } }];\n}\n\nif (daysToExpiry >= 5) {\n  return [{ json: { approved: false, reason: 'EXPIRY_OUT_OF_RANGE', rejection_message: MESSAGES.EXPIRY_OUT_OF_RANGE, processing_stage: 'flow_2_logic' } }];\n}\n\nfunction similarity(s1, s2) {\n  if (!s1 || !s2) return 0;\n  const w1 = s1.toLowerCase().split(' ');\n  const w2 = s2.toLowerCase().split(' ');\n  return w1.filter(w => w2.includes(w)).length / Math.max(w1.length, w2.length);\n}\n\nconst hasGTIN = product.barcode_gtin && product.barcode_gtin.trim() !== '';\nlet matchedProduct = 'fresh_produce_no_barcode';\n\nif (hasGTIN) {\n  let productNames = [];\n  try {\n    const off = $('GTIN Lookup OpenFoodFacts').first().json;\n    if (off.status === 1 && off.product) {\n      if (off.product.product_name) productNames.push(off.product.product_name);\n      if (off.product.brands) productNames.push(off.product.brands);\n    }\n  } catch(e) {}\n  try {\n    const upc = $('GTIN Lookup UPCItemDB').first().json;\n    if (upc.items && upc.items[0]) {\n      if (upc.items[0].title) productNames.push(upc.items[0].title);\n      if (upc.items[0].brand) productNames.push(upc.items[0].brand);\n    }\n  } catch(e) {}\n  productNames = productNames.filter(Boolean);\n  const items = extracted.line_items || [];\n  const match = items.find(i => productNames.some(n => similarity(i.name, n) >= 0.75));\n  if (!match && productNames.length > 0) {\n    return [{ json: { approved: false, reason: 'PRODUCT_NOT_ON_RECEIPT', rejection_message: MESSAGES.PRODUCT_NOT_ON_RECEIPT, processing_stage: 'flow_2_logic' } }];\n  }\n  if (match) matchedProduct = match.name;\n}\n\nconst pointsMap = { 0: 5, 1: 4, 2: 3, 3: 2, 4: 1 };\nconst pts = pointsMap[Math.round(daysToExpiry)] ?? 1;\n\nreturn [{ json: {\n  approved: true,\n  points_awarded: pts,\n  flow: 2,\n  matched_product: matchedProduct,\n  days_to_expiry: Math.round(daysToExpiry),\n  store_name: extracted.store_name,\n  receipt_date: extracted.receipt_date,\n  hours_since_purchase: Math.round(diffHours * 10) / 10,\n  processing_stage: 'flow_2_approved'\n}}];"
      },
      "id": "28691613-0914-478f-97b0-f0fcdfaae837",
      "name": "Flow 2 Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        -160
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const ticket = $('Webhook Trigger').first().json.body.record;\nconst extracted = $('Normalize And Parse Receipt').isExecuted\n  ? $('Normalize And Parse Receipt').first().json\n  : {};\n\nconst sources = ['Flow 1 Logic','Flow 2 Logic','Reject - Low Confidence','Check Required Images','Normalize And Parse Receipt'];\n\nlet result = null;\nfor (const src of sources) {\n  try {\n    const n = $(src);\n    if (n.isExecuted) { result = n.first().json; break; }\n  } catch(e) {}\n}\n\nif (!result) {\n  result = { approved: false, reason: 'UNKNOWN_ERROR', rejection_message: 'Hola 👋, no pudimos procesar tu ticket. Por favor inténtalo de nuevo. ¡Gracias!', processing_stage: 'unknown' };\n}\n\nconst isApproved = result.approved === true;\n\nreturn [{ json: {\n  timestamp: new Date().toISOString(),\n  ticket_id: ticket.id || '',\n  user_id: ticket.user_id || '',\n  firebase_user_id: ticket.firebase_user_id || '',\n  submission_type: ticket.submission_type || '',\n  status: isApproved ? 'approved' : 'rejected',\n  rejection_reason: isApproved ? '' : (result.reason || 'UNKNOWN'),\n  rejection_message: isApproved ? '' : (result.rejection_message || ''),\n  points_awarded: isApproved ? (result.points_awarded || 0) : 0,\n  flow: result.flow || '',\n  store_name: extracted.store_name || result.store_name || '',\n  receipt_date: extracted.receipt_date || result.receipt_date || '',\n  hours_since_purchase: result.hours_since_purchase || '',\n  days_to_expiry: result.days_to_expiry || '',\n  matched_product: result.matched_product || '',\n  gemini_confidence: extracted.confidence || '',\n  receipt_url: ticket.receipt_url || '',\n  processing_stage: result.processing_stage || 'unknown'\n}}];"
      },
      "id": "b8a815fe-a291-4536-a37f-4514cde3cffe",
      "name": "Prepare Output Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        208
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "ticket_id": "={{ $json.ticket_id }}",
            "user_id": "={{ $json.user_id }}",
            "firebase_user_id": "={{ $json.firebase_user_id }}",
            "submission_type": "={{ $json.submission_type }}",
            "status": "={{ $json.status }}",
            "rejection_reason": "={{ $json.rejection_reason }}",
            "rejection_message": "={{ $json.rejection_message }}",
            "points_awarded": "={{ $json.points_awarded }}",
            "flow": "={{ $json.flow }}",
            "store_name": "={{ $json.store_name }}",
            "receipt_date": "={{ $json.receipt_date }}",
            "hours_since_purchase": "={{ $json.hours_since_purchase }}",
            "days_to_expiry": "={{ $json.days_to_expiry }}",
            "matched_product": "={{ $json.matched_product }}",
            "gemini_confidence": "={{ $json.gemini_confidence }}",
            "receipt_url": "={{ $json.receipt_url }}",
            "processing_stage": "={{ $json.processing_stage }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ticket_id",
              "displayName": "ticket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "firebase_user_id",
              "displayName": "firebase_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "submission_type",
              "displayName": "submission_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rejection_reason",
              "displayName": "rejection_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rejection_message",
              "displayName": "rejection_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "points_awarded",
              "displayName": "points_awarded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "flow",
              "displayName": "flow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "store_name",
              "displayName": "store_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "receipt_date",
              "displayName": "receipt_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hours_since_purchase",
              "displayName": "hours_since_purchase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "days_to_expiry",
              "displayName": "days_to_expiry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "matched_product",
              "displayName": "matched_product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gemini_confidence",
              "displayName": "gemini_confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "receipt_url",
              "displayName": "receipt_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processing_stage",
              "displayName": "processing_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c53f171e-c0fe-46da-b9f4-58d0d7dfb28c",
      "name": "Write To Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2032,
        320
      ],
      "credentials": {},
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Check Required Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Required Images": {
      "main": [
        [
          {
            "node": "Images Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Images Valid?": {
      "main": [
        [
          {
            "node": "Gemini Receipt Extraction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Output Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Receipt Extraction": {
      "main": [
        [
          {
            "node": "Normalize And Parse Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize And Parse Receipt": {
      "main": [
        [
          {
            "node": "Extraction Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraction Error?": {
      "main": [
        [
          {
            "node": "Prepare Output Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Confidence OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confidence OK?": {
      "main": [
        [
          {
            "node": "Is Flow 2?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject - Low Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reject - Low Confidence": {
      "main": [
        [
          {
            "node": "Prepare Output Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Flow 2?": {
      "main": [
        [
          {
            "node": "Extract Barcode",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Expiry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flow 1 Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flow 1 Logic": {
      "main": [
        [
          {
            "node": "Prepare Output Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Barcode": {
      "main": [
        [
          {
            "node": "Merge Product Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Expiry": {
      "main": [
        [
          {
            "node": "Merge Product Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Product Data": {
      "main": [
        [
          {
            "node": "GTIN Lookup OpenFoodFacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GTIN Lookup OpenFoodFacts": {
      "main": [
        [
          {
            "node": "GTIN Lookup UPCItemDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GTIN Lookup UPCItemDB": {
      "main": [
        [
          {
            "node": "Flow 2 Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flow 2 Logic": {
      "main": [
        [
          {
            "node": "Prepare Output Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Output Row": {
      "main": [
        [
          {
            "node": "Write To Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write To Google Sheets": {
      "main": [
        []
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "2c629fa8041b6c6fed44677da43abdeb0e314fef6f752007c317481a5491b6dd"
  }
}
